PORT=5000
NODE_ENV=development
DATABASE_URL="postgresql://username:password@ep-XXXXXX.us-east-2.aws.neon.tech/competilens?sslmode=require"

# JWT Config
JWT_SECRET="competilens_jwt_access_secret_token_change_me_in_production"
JWT_REFRESH_SECRET="competilens_jwt_refresh_secret_token_change_me_in_production"

# Email Configuration (Nodemailer / SMTP / Resend)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="kiran.chaudhary.cg@gmail.com"
SMTP_PASS=""
SMTP_FROM="kiran.chaudhary.cg@gmail.com"

# Client URL (CORS / Redirects)
FRONTEND_URL="http://localhost:5173"
